body {
  font-size: 16px;
  font-family: sans-serif;
  display: grid;
  padding: 0;
  margin: 0;
  padding-top: 0;
}
h1,
h2,
h3 {
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

header {
  background: darkslategray;
  color: #fefefe;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  label {
    display: inline-flex;
    flex-direction: column;
  }
  h1 {
    margin: 0;
    margin-right: auto;
  }
}

hr {
  height: 1px;
  background: #ccc;
  border: none;
}

.radio-button {
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}

#api-url {
  width: 35ch;
}

#root {
  display: grid;
  grid-template-columns: minmax(15rem, max-content) 1fr;
  gap: 1rem;
  padding: 1rem;
}

button {
  color: inherit;
  background: none;
  border: none;
  cursor: pointer; /* Added cursor style for button */
  font-family: inherit;
}

select {
  margin-bottom: 1rem;
}
.api-docs {
  display: grid;
  grid-template-columns: 10rem 1fr;
  gap: 1rem;
}

.code-block {
  position: relative;
  padding: 1rem;
  padding-left: 2rem;
  font-size: 0.9rem;
  font-family: monospace;
  color: #fefefe;
  background-color: #333;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.legend {
  font-size: 0.9rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  line-height: 1.5;

  dl {
    margin: 0;
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 0.5rem;
  }
  dt {
    text-align: right;
  }
  dd {
    margin: 0;
    font-family: sans-serif;
    cursor: help;
  }
  dd:before {
  }
}

.collection-variable-expand {
  cursor: pointer;
  background: rgb(255 255 255 / 10%);
  border-radius: 2px;
  margin-left: 1ch;

  &:hover {
    background: rgb(255 255 255 / 20%);
  }

  &:active {
    background: rgb(255 255 255 / 30%);
  }
}

.h3 {
  font-family: monospace;
  text-transform: uppercase;
}

.data-name {
  position: relative;

  button {
    user-select: text;
    padding: 0;
    cursor: pointer;
    border-radius: 2px;
    background: rgb(255 255 255 / 6%);
    font-size: inherit;
    &:hover {
      background: rgb(255 255 255 / 20%);
    }

    &:active {
      background: rgb(255 255 255 / 30%);
    }
  }
}
.popover {
  position: absolute;
  overlay: unset;
  inset: unset;
  font-family: sans-serif;
  margin-top: 0.5rem;
  min-width: max-content;
  background: #ddd;
  color: #333;
  border-radius: 0.5rem;
  padding: 0.5rem;
  border: none;

  h3 {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    margin-top: 0;
    max-width: 30rem;
  }

  p {
    margin: 0;
    max-width: 30rem;
  }
}

.id {
  color: Silver;
}

.element,
.json-element {
  position: relative;
}

.element.collapsed {
  .data-name::after {
    content: " ...";
  }

  .multiplicity {
    display: none;
  }
  .attributes {
    display: none;
  }

  .indent {
    display: none;
  }
  .closing-tag {
    display: none;
  }
}

.indent {
  padding-left: 3ch;
}

.json-key {
  color: Plum;
}

.json-element {
  .regex,
  .collection-value,
  .number-variable {
    display: inline;
  }

  .indent {
    padding-left: 2ch;
  }

  &.collapsed {
    color: #aaa;

    .json-key {
      color: #aaa;
    }

    & .indent {
      display: none;
    }
    .multiplicity {
      display: none;
    }

    & > .name-in-data {
      display: inline;
      padding: 0;
    }

    & > div {
      display: inline;
      &:last-child::before {
        content: " ... ";
      }
    }
  }
}

.element-expand-button {
  color: #aaa;
  position: absolute;
  left: -1rem;
  top: -1px;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  background: none;
  border-radius: 50%;

  &:hover {
    background: rgb(255 255 255 / 20%);
  }

  &:active {
    background: rgb(255 255 255 / 30%);
  }
}

.api-docs-nav-children {
  padding-left: 1rem;
}

.final-value {
  color: darkorange;
}

.collection-value {
  color: deepskyblue;
}

.multiplicity {
  color: hotpink;
  user-select: none;
}

.regex {
  color: aquamarine;
}

summary {
  cursor: pointer;
}
.number-variable {
  color: khaki;
}

.main-nav {
  h2 {
    font-size: 1.2rem;
  }
  h3 {
    font-size: 1rem;
  }
  ul {
    list-style: none;
    padding: 0;
  }

  ul ul {
    padding-left: 1rem;
  }
  a {
    font-size: 0.9rem;
    text-decoration: none;
    color: darkblue;
    &[aria-current="page"] {
      color: coral;
    }
  }
}
