body {
  font-size: 16px;
  font-family: sans-serif;
  font-size: 1rem;
  display: grid;
  gap: 1rem;
  padding: 0;
  margin: 0;
  padding-top: 0;
}

header {
  background: #f0f0f0;
  padding: 1rem;
  label {
    display: inline-flex;
    flex-direction: column;
  }
}

input[type="radio"] {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

#api-url {
  width: 35ch;
}

#root {
  display: grid;
  grid-template-columns: minmax(15rem, max-content) 1fr;
  gap: 1rem;
  padding: 1rem;
}

button {
  color: inherit;
  background: none;
  border: none;
  cursor: pointer; /* Added cursor style for button */
  font-family: inherit;
}

select {
  margin-bottom: 1rem;
}
.api-docs {
  display: grid;
  grid-template-columns: 10rem 1fr;
  gap: 1rem;
}

.code-block {
  padding: 1rem;
  padding-left: 2rem;
  font-size: 0.9rem;
  font-family: monospace;
  color: #fefefe;
  background-color: #333;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.collection-variable-expand {
  cursor: pointer;
  background: rgb(255 255 255 / 10%);
  border-radius: 2px;
  margin-left: 1ch;

  &:hover {
    background: rgb(255 255 255 / 20%);
  }

  &:active {
    background: rgb(255 255 255 / 30%);
  }
}

.h3 {
  font-family: monospace;
  text-transform: uppercase;
}

.element {
  position: relative;
}

.data-name {
  button {
    user-select: text;
    padding: 0;
    cursor: pointer;
    border-radius: 2px;
    background: rgb(255 255 255 / 6%);
    &:hover {
      background: rgb(255 255 255 / 20%);
    }

    &:active {
      background: rgb(255 255 255 / 30%);
    }
  }
}
.popover {
  inset: unset;
  position: relative;
  font-family: sans-serif;
  margin-top: 0.5rem;
  min-width: max-content;
  background: #ddd;
  color: #333;
  border-radius: 0.5rem;
  padding: 0.5rem;
  border: none;

  h3 {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    margin-top: 0;
    max-width: 30rem;
  }

  p {
    margin: 0;
    max-width: 30rem;
  }
}

.element.collapsed {
  .data-name::after {
    content: " ...";
  }

  .multiplicity {
    display: none;
  }
  .attributes {
    display: none;
  }

  .element-children {
    display: none;
  }
  .closing-tag {
    display: none;
  }
}

.json-property {
  padding-left: 2ch;
}

.json-key {
  color: Plum;
}

.json-element {
  position: relative;

  .regex,
  .collection-value,
  .number-variable {
    display: inline;
  }

  .data-name {
  }

  &.collapsed {
    color: #aaa;

    .json-key {
      color: #aaa;
    }

    & .json-property {
      display: none;
    }
    .multiplicity {
      display: none;
    }

    & > .name-in-data {
      display: inline;
      padding: 0;
    }

    & > div {
      display: inline;
      &:last-child::before {
        content: " ... ";
      }
    }
  }
}
.element-children {
  padding-left: 3ch;
}

.element-expand-button {
  color: #aaa;
  position: absolute;
  left: -1rem;
  top: -1px;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  background: none;
  border-radius: 50%;

  &:hover {
    background: rgb(255 255 255 / 20%);
  }

  &:active {
    background: rgb(255 255 255 / 30%);
  }
}

.api-docs-nav-children {
  padding-left: 1rem;
}

.final-value {
  color: darkorange;
}

.collection-value {
  color: deepskyblue;
}

.multiplicity {
  color: hotpink;
  user-select: none;
}

.regex {
  color: aquamarine;
}

summary {
  cursor: pointer;
}
.number-variable {
  color: khaki;
}

.main-nav {
  h2 {
    font-size: 1.2rem;
  }
  h3 {
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  ul {
    list-style: none;
    padding: 0;
  }

  ul ul {
    padding-left: 1rem;
  }
  a {
    text-decoration: none;
    color: darkblue;
    &[aria-current="page"] {
      color: coral;
    }
  }
}
